* {
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    box-sizing: border-box;
    max-height: 100vh;
    font-family:serif
}

:root {
    font-size: 22px;
    color: black;
}

@font-face {
    font-family: 'CustomFont';
    src: url(/Users/kristoveber/Desktop/TOP/Projects/Sign-up-form/fonts/QueenSerifFree-Wy6L9.ttf);
}

main {
    display: flex;
    background-color: rgb(255, 255, 255);
}

.left {
    height: 100vh;
    width: 40vw;
    box-sizing: border-box;
    position: relative;
    
}

.logo-text {
    position: absolute;
    top: 45%;
    color: white;
    width: 100%;
    text-align: center;
    background-color: rgba(154, 152, 152, 0.418);
    display: flex;
    box-sizing: border-box;
    height: 2.2rem;
    justify-content: center;
    align-items: center;
    padding: 20px;

    
    
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

form {
    width: 100%;
    background-color: rgba(212, 211, 211, 0.418);
    margin-top: 50px;
    border-bottom: 6px solid rgba(0, 0, 0, 0.495);
    color: rgba(46, 46, 47, 0.905);

}


.logo-text > span {
    font-family: 'CustomFont';
    font-size: 2rem;
    margin: 1px;
    width: auto;
    font-weight: bold;

}

.logo-picture {
   object-fit: contain;
   width: auto;
   height: 2rem;
}

.right {
    width: 60vw;
    overflow: scroll;
}

.sign-up-text {
    margin: 2rem 1rem 1rem 2rem;
}

p {
    font-size: 1rem;
    width: 57vw;
}

.distanced {
    padding-top: 2rem;
}


label, input {
    display: block;
    font-size: 0.8rem;
}



.form_title {
    padding: 1rem;
    margin-left: 1rem;
    font-weight:bold
}

input[type="submit"] {
    float: left;
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: 1rem;
    padding: 15px;
    background-color:rgb(58, 71, 17);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 0px;

}




input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.form_flex {
    display:flex;
    flex-flow: row wrap;
    gap: 30px;
    width: 100%;
    padding: 0 0 1rem 2rem;
}

.form_flex input {
    width: 25vw;
    line-height: 1rem;
    border-radius: 6px;
    border-color: rgb(173, 172, 172);
    border: 1px solid;
}

input:focus {
    outline: none;
    border-color: white;
    box-shadow: 0 0 10px black;
}

.login {
    float:left;
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 0.9rem;
}
a {
    text-decoration: none;
    color: rgb(74, 88, 28);
}

